{% extends 'base.html' %}

{% block body_block %}
    <ul id="results">
    <h3> Post </h3>
    <li> <a href = "./user/{{post.userId}}"> User Id : {{post.userId}} </a> </li>
    <li> Post Id : {{post.id}} </li>
     <li> Title : {{ post.title}} </li>
    <li> Body : {{ post.body}} </li>
    </ul>

    <h3> Comments </h3>


    {% for comment in comments %}
        <ul id="comment" >
            <b> Comment number {{ forloop.counter }}</b>
             <li>  Body : {{ comment.body }} </li>
             <li> Name: {{ comment.name}} -- Email: {{comment.email}} </li>
        </ul>
    {% endfor %}

    <p> Insert new comment </p>
    <form action='/posts/comments/new/{{post.id}}' method='post'>{% csrf_token %}
    {{ form.as_p }}
    <input type='submit' value='Submit' />
    </form>



{% endblock %}