{% extends 'base.html' %}

{% block body_block %}
<h1> Soap WS Users </h1>

<table class="table table-striped">
    <tr class="active">
    <th class="active" >Username</th>
    <th class="active">Email</th>
  </tr>
{% for result in results %}
    <tr class="active">
        <td class="active"> <a href = "/soap/getuser/{{result.uname}}">  {{result.uname}}  </a> </td>
        <td class="active"> {{result.email}} </td>
    <tr/>
{% endfor %}

    </table>
<br>

<a href="/soap/createuser"> Create new User </a>

{% endblock %}