{% extends 'base.html' %}

{% block body_block %}
<h1> User {{result.uname}} </h1>

<table class="table table-striped">
  <tr class="active">
    <td class="active"> Usermane </td>
    <td class="active"> {{result.uname}} </td>
 </tr>
<tr class="active">
    <td class="active"> Email </td>
    <td class="active"> {{result.email}} </td>
 </tr>
<tr class="active">
    <td class="active"> Password </td>
    <td class="active"> {{result.password}} </td>
 </tr>
<tr class="active">
    <td class="active"> Registration Date </td>
    <td class="active"> {{result.registeredon}} </td>
 </tr>
</table>

<a href="/soap/createuser"> Create new User </a>

{% endblock %}